.fetch-todos,
.axios-todos,
.axios-new-todo {
  padding: 20px;
}
.fetch-todo-by-id,
.axios-todo-by-id {
  padding: 20px;
  line-height: 2.5; 
}

.table-list {
  width: 100%;
  margin: 20px auto;
  border-collapse: collapse;
}
.table-list th,
.table-list td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}
.table-list thead{
  background-color: #f2f2f2;
}