.app{
  margin-top: 20px;
}
.fetch-todos ul li,
.axios-todos ul li{margin: 10px;}

.fetch-todo-by-id p,
.axios-todo-by-id p{line-height: 2;}

.axios-new-todo button{
  padding: 6px 12px;
  margin: 5px;
}

