.app{
  margin: 20px;
}
.header a{
  margin: 10px;
}
.contents{
  margin-top: 40px;
}
.sign-up h2{
  margin-bottom: 20px;
}
.sign-up form p{
  margin-bottom: 10px;
}
.sign-up form label{
  display: inline-block;
  width: 80px;
}
.sign-up form input[type="text"],
.sign-up form input[type="password"],
.sign-up form select,
.sign-up form textarea{
  width: 200px;
}
.sign-in h2{
  margin-bottom: 20px;
}
.sign-in form p{
  margin-bottom: 10px;
}
.sign-in form label{
  display: inline-block;
  width: 80px;
}
.sign-in form input[type="text"],
.sign-in form input[type="password"]{
  width: 200px;
}
.result-msg{
  margin-top: 20px;
  font-weight: bold;
}
