
.welcome h2{
  color: #00f;
  font-weight: bold;
}

.btn{
  margin: 10px;
  text-align: center;
}
button{
  width: 100px;
  padding: 8px;
  margin: 10px;
}
input{
  width: 200px;
  padding: 8px;
  margin: 10px;
}
