*{
  margin: 0;
}
.header{
  background-color: rgb(250, 66, 66);
  height: 50px;
  line-height: 50px;
}
.header a{
  margin: 10px;
  font-size: 18px;
}
.home{
  background-color: rgb(149, 134, 249);
  height: 200px;
  color: rgb(236, 235, 235);
}
.page{
  background-color: rgb(75, 49, 245);
  color: rgb(236, 235, 235);
  height: 200px;
}
.footer{
  background-color: rgb(3, 196, 70);
}